$color-rojo:    rgb(236, 32, 73);
$color-violeta:    rgb(140, 0, 255);
$color-azul:    rgb(32, 86, 236);
$color-blanco:   #fff;
$color-negro:    #111;
$color-salmon:    rgb(225, 97, 120);
$color-rosa:    rgb(225, 90, 137);